body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

h2 {
  font-size: 1rem;
  margin: 15px 0 10px 0;
}

h4 {
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

strong {
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "roboto", sans-serif;
}

.headerlogo {
  text-align: center;
  padding: 1rem 0 0.5rem 0;
}
.headerlogo .headerlogo-img {
  width: 12rem;
  height: 3rem;
}

.reservation {
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
}
.reservation .reservation__map {
  background-color: #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 1rem 0;
  box-shadow: 0px 3px 3px #73737338 inset;
}
.reservation .reservation__map .reservation__map--icon {
  margin: 0 1.5rem 0 -2rem;
}
.reservation .reservation__search--desc {
  font-size: 1.2rem;
}

.searchtitle {
  margin: 1.2rem 0 1.2rem 0;
}

.function {
  background: #fff;
  padding: 0 0 40px 0;
}
.function .function__title {
  padding: 3rem 0 2rem 1rem;
  text-align: start;
}
.function .function__step {
  display: flex;
  padding: 1.3rem 0 1.3rem 0;
  margin: 0 1rem 25px 1.2rem;
  align-items: center;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 10px #dedada;
}
.function .function__step .function__step--number {
  color: #fff;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 50%;
  font-size: 1rem;
  padding: 4px 8px 4px 8px;
  margin: 0 1.5rem 0 -12px;
}
.function .function__step .function__step--icon {
  font-size: 20px;
  color: #7e7e7e;
}
.function .function__step .function__step--title {
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

.function__step:hover {
  background-color: #d9c6ea;
}
.function__step:hover .function__step--icon {
  color: #9356DC;
}
.function__step:hover .function__step--title {
  color: #9356DC;
}

@media screen and (min-width: 1080px) {
  .container {
    display: flex;
    flex-direction: row;
    max-width: 1080px;
    justify-content: space-around;
    margin: auto;
    align-items: center;
  }

  .function__step--title {
    padding: 0 20px 0 10px;
  }

  .function__title {
    display: flex;
    max-width: 1080px;
    margin: auto;
    align-items: flex-start;
  }
}
.restaurant {
  background: #f6f6f6;
}
.restaurant .restaurant__title {
  padding: 2rem 0 1rem 1rem;
  text-align: start;
}
.restaurant .restaurant__cards {
  padding-bottom: 0.5rem;
}
.restaurant .restaurant__card {
  position: relative;
  background: #fff;
  height: 250px;
  border-radius: 1.5rem;
  box-shadow: 3px 8px 8px #dedada;
  margin: 0 1.5rem 3rem 1.5rem;
}
.restaurant .restaurant__card .restaurant__card--img {
  border-radius: 1.5rem 1.5rem 0 0;
  width: 100%;
  height: 175px;
  object-fit: cover;
}
.restaurant .restaurant__card .restaurant__card--text {
  position: relative;
  background: #fff;
  border-radius: 0 0 1.5rem 1.5rem;
  padding-left: 1rem;
  height: 75px;
}
.restaurant .restaurant__card .restaurant__card--tag {
  border-radius: 3px;
  background: #99E2D0;
  color: #217460;
  padding: 5px;
  position: absolute;
  top: 12px;
  right: 10px;
}

.resttitle {
  font-size: 1.5rem;
}

@media screen and (min-width: 1080px) {
  .restaurant__cards {
    display: flex;
    margin: auto;
    max-width: 1080px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .restaurant__card {
    width: 490px;
  }

  .restaurant__title {
    display: flex;
    max-width: 1080px;
    margin: auto;
    align-items: flex-start;
  }
}
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 0 0 1.5rem 1.5rem;
}

.footer__logo {
  filter: invert(100%);
  width: 105px;
  height: 15px;
  padding: 2rem 0 1.5rem 0;
  margin: 0 0 0 -10px;
}

.footer__link {
  margin: 0 0 10px 0;
}
.footer__link .footer__link--icon {
  color: #fff;
}
.footer__link .footer__link--subtitle {
  padding: 0 0 0 10px;
}

h1 {
  font-size: 1.6rem;
  margin: 0;
  font-family: "shrikhand", sans-serif;
}

.return {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
}

.headerlogo {
  text-align: center;
  padding: 1rem 0 0.5rem 0;
}

.pagemenu__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.pagemenu__title {
  position: relative;
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 2.4rem 0 0 1.5rem;
  margin-top: -2rem;
  background-color: #f6f6f6;
}

.pagemenu {
  background-color: #f6f6f6;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 2rem 1rem;
}

.menu__title {
  margin: 0;
  padding: 1rem 0 0 0;
  font-size: 0.9rem;
}

.menu__title--underline {
  width: 2.5rem;
  border-top: 3px solid #99E2D0;
  margin: 1rem 0 0 0;
}

.menu__desc {
  position: relative;
  background-color: #fff;
  height: 70px;
  padding: 0 0 12px 0;
  margin: 1rem 0 1rem 0;
  cursor: pointer;
  overflow: hidden;
  align-items: center;
  width: 100%;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 10px #dedada;
  animation: appear 0.6s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  transform: scale(0);
  transition: padding-right 0.3s ease-out;
  box-sizing: border-box;
}
.menu__desc .menu__desc--title {
  width: 100%;
  padding: 0 0 0 1rem;
}
.menu__desc .menu__desc--subtitle {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem 0 1rem;
}
.menu__desc .price {
  font-size: 14px;
  font-weight: bold;
}

.menu__desc--animation {
  position: absolute;
  right: 0;
  transform: translateX(80px);
  background-color: #99E2D0;
  width: 80px;
  height: 100%;
  top: 0;
  transition: transform 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__desc:hover {
  padding-right: 80px;
}
.menu__desc:hover .fa-check-circle {
  transform: rotate(360deg);
}
.menu__desc:hover .menu__desc--animation {
  transform: translateX(0);
}

.fa-check-circle {
  transition: transform 0.4s ease-in-out;
  transform: rotate(0deg);
  font-size: 1.2rem;
  color: white;
}

.txt {
  font-size: 0.95rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 1080px) {
  .pagemenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }

  .menu__desc {
    width: 325px;
  }
}
@media screen and (min-width: 1200px) {
  .menu__desc {
    width: 375px;
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.delay-9 {
  animation-delay: 0.9s;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.95;
  animation: disappear 200ms 2s forwards;
  transform-origin: top;
}
.loader::before {
  content: "";
  height: 100px;
  width: 100px;
  border-bottom: 3px solid transparent;
  border-left: 4px solid #9356DC;
  border-right: 4px solid #FF79DA;
  border-radius: 50%;
  animation: spin 0.75s infinite;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.reservation__search--button {
  border-radius: 2rem;
  border: 0;
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  background-image: radial-gradient(ellipse farthest-corner at 20px 0, #FF79DA 0%, #9356DC 100%);
  box-shadow: 3px 3px 3px #dedada;
  cursor: pointer;
  margin: 1.5rem 0 3.5rem 0;
}
.reservation__search--button:hover {
  transform: scale(1.03);
}

.pagemenu__button {
  width: 190px;
  border-radius: 2rem;
  border: 0;
  display: block;
  margin: 3rem auto 2rem auto;
  box-shadow: 3px 3px 3px #dedada;
  font-size: 1rem;
  color: #fff;
  padding: 1rem;
  background-image: radial-gradient(ellipse farthest-corner at 20px 0, #FF79DA 0%, #9356DC 100%);
  cursor: pointer;
}
.pagemenu__button:hover {
  transform: scale(1.03);
}

@media screen and (min-width: 1080px) {
  .pagemenu__button {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }
}
.pagemenu__CtnBtn {
  background-color: #f6f6f6;
}

.restaurant__heart {
  transform-origin: bottom;
  font-size: 27px;
  cursor: pointer;
}
.restaurant__heart .fa-gradient {
  opacity: 0;
}
.restaurant__heart .heart-like {
  opacity: 1;
}
.restaurant__heart .fa-heart {
  transition: opacity 0.3s ease-out;
}
.restaurant__heart:hover .heart-like {
  opacity: 0;
}
.restaurant__heart:hover .fa-gradient {
  opacity: 1;
}

.restaurant__heart--animation:hover {
  opacity: 1;
}

.fa-heart::before {
  content: "\f004";
}

.fa-gradient {
  background: -webkit-gradient(linear, right top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart-pos {
  position: absolute;
  right: 1.8rem;
  bottom: 2.3rem;
}

.heart-position {
  position: absolute;
  right: 3rem;
  bottom: 0.5rem;
}

/*# sourceMappingURL=main.css.map */
