$size-check: 80px;
h1 {
    font-size: 1.6rem;
    margin: 0;
    font-family: "shrikhand",sans-serif;
}


.return {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
}

.headerlogo{
    text-align: center;
    padding: 1rem 0 0.5rem 0;
}

.pagemenu__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.pagemenu__title {
    position: relative;
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 2.4rem 0 0 1.5rem;
    margin-top: -2rem;
    background-color: #f6f6f6;
}

.pagemenu {
    background-color: #f6f6f6;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 2rem 1rem;
}
.menu__title {
    margin: 0;
    padding: 1rem 0 0 0;
    font-size: 0.9rem;
}

.menu__title--underline {
    width: 2.5rem;
    border-top: 3px solid $tertiaire;
    margin: 1rem 0 0 0;
}

.menu__desc {
    position: relative;
    background-color: #fff;
    height: 70px;
    padding: 0 0 12px 0;
    margin: 1rem 0 1rem 0;
    cursor: pointer;
    overflow: hidden;
    align-items: center;
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 10px #dedada;
    animation: appear .6s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    transform: scale(0);
    transition: padding-right .3s ease-out;
    box-sizing: border-box;

    .menu__desc--title {
        width: 100%;
        padding: 0 0 0 1rem;
        
    }

    .menu__desc--subtitle {
        display: flex;
        justify-content: space-between;
        padding: 0 1.5rem 0 1rem;
    }

    .price {
        font-size: 14px;
        font-weight: bold;
    }
    
    

}
.menu__desc--animation {
    
    position: absolute;
    right: 0;
    transform: translateX($size-check);
    background-color: $tertiaire;
    width: $size-check;
    height: 100%;
    top: 0;
    transition: transform .3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.menu__desc:hover {
    padding-right: $size-check;

    .fa-check-circle {
        transform: rotate(360deg);
    }
    .menu__desc--animation {
        transform: translateX(0);
    }
}

.fa-check-circle {
    transition: transform .4s ease-in-out ;
    transform: rotate(0deg);
    font-size: 1.2rem;
    color: white;
}
.txt {
    font-size: 0.95rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


@media screen and (min-width: 1080px) {
    .pagemenu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
    }
    .menu__desc {
        width: 325px;
    }
}
@media screen and (min-width: 1200px) {
    .menu__desc {
        width: 375px;
    }
}