.pagemenu__heart {
    position: absolute;
    cursor: pointer;
    transform-origin: bottom;
    opacity: 1;
    top: 2.5rem;
    right: 8%;
    font-size: 1.5rem;
    color: #000000;
    
}
.pagemenu__heart--active {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    transform-origin: bottom;
    top: 2.5rem;
    right: 8%;
    font-size: 1.5rem;
}